<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<h3 class='bold-text'>TRAINER HOME PAGE</h3>
<table class='highlight bold-text'>
  <thead class='bold-text'>
    <tr class="table-rows">
      <th>TRAINER ID</th>
      <th>NAME</th>
    </tr>
  </thead>
  <tbody class='bold-text'>
    <% for(let i=0; i<tra.length; i++){ %>
      <tr class="table-rows">
        <td><%= tra[i].id %></td>
        <td><a href="/show/trainer/<%= tra[i].id %>"><%= tra[i].name %></a></td>
      </tr>
      <%  } %>
    </tbody>
  </table>
  <tbody>

    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
